.env
adminportal/adminportal
cmd/makepublicyaml/makepublicyaml
cmd/sdwebadmin/sdwebadmin
configdata/id_ed25519-scrollodex
dex/cmd/makepublicyaml/makepublicyaml
exit148prod/.env-GOOD
exit148prod/.env-NEW

dex/cmd/airtable2publicyaml/airtable2publicyaml
dex/cmd/airtable2publicyaml/entries.yaml
dex/cmd/many2csv/data/
dex/cmd/many2csv/good/
dex/cmd/many2csv/many2csv

# MacOS
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
